.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

a.Active {
  color: #aaa;
}